body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url("/images/neom-STV2s3FYw7Y-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
    height: 100vh;
    color: white;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(125deg,rgba(13, 86, 128, 0.795), rgba(39, 61, 80, 0));
    
    z-index: -2;

}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 10px 20px;
    color: white;
}

.logo {
    font-size: 1.5em;
    font-weight: bold;
}

.nav-links {
    list-style-type: none;
    display: flex;
    gap: 20px;
}

.nav-links li {
    display: inline;
}

.nav-links a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.nav-links a:hover {
    background-color: #575757;
    border-radius: 5px;
}

.search-bar input {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
}

@media (max-width: 600px) {
    .nav-links {
        display: none;
    }

    .search-bar {
        display: none;
    }

    .nav-links.responsive {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .nav-links.responsive a {
        padding: 10px;
    }
}



.contact-page {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 20px;
    height: calc(100vh - 60px); /* Adjust based on navbar height */
}
.contact-page h1 {
    font-size: 6em;
    margin-bottom: 20%;
    margin-left: 5%;
}

.contact-section {
    width: 60%;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 30px;
    border-radius: 10px;
}

.contact-section h1 {
    font-size: 12em;
    margin-bottom: 10px;
}

.contact-section p {
    font-size: 1.2em;
    margin-bottom: 30px;
}

.contact-form {
    display: flex;
    flex-direction: column;
}

.contact-form input, .contact-form textarea {
    background: rgba(255, 255, 255, 0.8);
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 1em;
}

.contact-form button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: rgba(13, 86, 128, 0.795);
    color: white;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s;
}

.contact-form button:hover {
    background-color: rgba(13, 86, 128, 0.9);
}