body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url("/images/neom-STV2s3FYw7Y-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position:relative;
    height:100vh;

}
body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(125deg,rgba(13, 86, 128, 0.795), rgba(39, 61, 80, 0));
    
    z-index: -2;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px 20px;
    color: white;
}

.logo {
    font-size: 1.5em;
    font-weight: bold;
}

.nav-links {
    list-style-type: none;
    display: flex;
    gap: 20px;
}

.nav-links li {
    display: inline;
}

.nav-links a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.nav-links a:hover {
    background-color: #575757;
    border-radius: 5px;
}

.search-bar input {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
}

@media (max-width: 600px) {
    .nav-links {
        display: none;
    }

    .search-bar {
        display: none;
    }

    .nav-links.responsive {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .nav-links.responsive a {
        padding: 10px;
    }
}


.page{

    margin:5%;
    padding:20px;
    margin-top: 10%;
    
    

}
.title {
    font-size: 6em;
    margin: 0;
    color: azure;
    margin-bottom: 3%;
}

.text {
    font-size: 1em;
    line-height: 1.5;
    margin: 20px 0;
    color: azure;
    margin-bottom: 3%;
}

.button {
    background-color: #ff6600;
    color: white;
    border: none;
    padding: 10px 20px;
    text-transform: uppercase;
    font-size: 1em;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #e65c00;
}


#timeResult{
    color: aliceblue;
    background-color: rgb(0, 83, 88);
    padding: 15px;
    font-size: 1.2em;
    border-radius: 15px;
    display:inline-block;
    position:absolute;
    left: 80%;
    top: 15%;
    transform: translate(-50%, -50%);

}


#placesContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    width:500px;
    position:absolute;
    left: 63%;
    top: 20%;
    
}

.place-item {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.place-item h3 {
    margin: 0;
    margin-bottom: 10px;
    font-size: 1.5em;
    color: #333;
}

.place-item img {
    width: 100%;
    height: auto;
    max-height: 300px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 10px;
}

.place-item p {
    margin: 0;
    font-size: 1em;
    color: #555;
}
